%head-title {
    letter-spacing: 1px;
    font: {
        weight: normal;
        size: 20px;
    }
}

%paragraph {
    line-height: 1.7;
    color: $seconderyClr;
}

%link {
    letter-spacing: 1px;
    color: $mainClr;
}
