$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$maxMedium: "(max-width: 1199px)";

$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 991px)";
$minLarge: "(min-width: 1200px)";

$mainClr: #e2494c;
$seconderyClr: #9c9c9c;
$whiteClr: white;

$radius: 6px;

$smallFont: 14px;
$largeFont: 24px;

$secPadding: 60px;

$rounded: 50%;

$numberOfGrids: 12;
