.btn {
    padding: 10px 17px;
    font-size: $smallFont;
    border: none;
    border-radius: $radius;
    background-color: $mainClr;
    letter-spacing: 1px;
    color: $whiteClr;
    cursor: pointer;
}
